* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    width: 100vw;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer,
.header {
    background: #2d3e50;
    padding: 0.5em;
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 0.5em;
}

.text-right {
    text-align: right;
}

.footer a {
    color: #ddd;
}


/* The Modal (background) */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    color: #212529;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


/* The Close Button */

.close {
    float: right;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: grid;
    font-weight: bold;
    padding: .2rem .4rem 0 .4rem;
    border-radius: .25rem .25rem 0 0;
    grid-template-columns: 80% 20%;
    color: #212529;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.modal-footer {
    display: grid;
    font-weight: bold;
    padding: .2rem .4rem .4rem 0;
    border-radius: 0 0 .25rem .25rem;
    color: #212529;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.modal-body {
    padding: 0.2em 0.4em;
}

.modal-body.delete {
    display: grid;
    grid-template-rows: 1rem auto;
    grid-gap: .5rem;
}

.data-form input[type="text"],
.data-form input[type="number"],
textarea,
select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0 0.3em;
    border-radius: 4px;
    line-height: 2em;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.data-form input[type="text"]:focus,
.data-form input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: 0;
    border-color: rgb(18, 159, 234);
}

.data-form>div {
    padding-top: 0.3em;
}

.save-button {
    padding: 2px 1em;
    border-radius: 0.2em;
    color: white;
}

.save-button-enabled {
    background: rgb(18, 159, 234);
    pointer-events: auto;
    cursor: pointer;
}

.save-button-disabled {
    background: rgb(18, 159, 234, 0.2);
    pointer-events: none;
    cursor: none;
}

.save-button-container {
    line-height: 1.5em;
    padding: 0.3em 0;
    text-align: right;
}

.requied {
    color: red;
}

.monitor {
    text-align: left;
}

.filter {
    display: inline-block;
    padding: 2px .5em;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
}

.remove {
    background: rgb(223, 117, 20);
    padding: 2px 1em;
    border-radius: 0.2em;
    color: white;
}


/* .btn-group button {
    padding: .2em .5em;
    border: none;
    background-color: rgb(18, 159, 234);
    text-decoration: none;
    font-size: 14px;
    line-height: 100%;
    border-right: 1px solid black;
} */

.btn-group button {
    padding: .2em .5em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(18, 159, 234);
    line-height: 100%;
    border-right: 1px solid black;
}

.btn-group button:disabled {
    opacity: 0.8;
    pointer-events: none;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group.left {
    justify-content: flex-start;
}

.btn-group.right {
    justify-content: flex-end;
}

.btn-group button:focus {
    /* White text */
    outline: none;
    /* Float the buttons side by side */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:last-child {
    border-right: none;
}

.btn-group button:last-child {
    border-radius: 0 5px 5px 0
}

.btn-group button:first-child {
    border-radius: 5px 0 0 5px
}

.btn-group button:hover {
    opacity: 0.8;
}

input[type="checkbox"] {
    position: relative;
    top: 1px;
}

.pill {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 0 .2em 0;
}

.pill label {
    padding: 0 0.5em;
}

.pill label:first-child {
    border-radius: 5px 0 0 5px
}

.pill label:nth-last-child(2) {
    border-radius: 0 5px 5px 0;
}

.pill input[type="checkbox"] {
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: .4em;
}