* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --default-border-color: #babfc7;
    --default-border: 1px solid #babfc7;
    --default-padding: 0.2em;
}

.grid-container {
    display: grid;
    grid-template-rows: 40px 1fr;
    width: 100vw;
    height: 100vh;
}

.header {
    display: grid;
    padding: 0 var(--default-padding);
    grid-template-columns: auto auto;
    background: #2d3e50;
    padding: 0.2em;
    color: white;
}

.header a {
    color: #ddd;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* The Modal (background) */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    color: #212529;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


/* The Close Button */

.close {
    float: right;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: grid;
    font-weight: bold;
    padding: .2rem .4rem 0 .4rem;
    border-radius: .25rem .25rem 0 0;
    grid-template-columns: 80% 20%;
    color: #212529;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.modal-body {
    padding: 0.2em 0.4em;
}

.modal-body.delete {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: .5em;
}

.data-form input[type="text"],
.data-form input[type="number"],
textarea,
select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0 .3em;
    border-radius: 4px;
    line-height: 2em;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.data-form input[type="text"]:focus,
.data-form input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: 0;
    border-color: rgb(18, 159, 234);
}

.data-form>div {
    padding-top: 0.3em;
}

.requied {
    color: red;
}

.btn-group button {
    padding: var(--default-padding) .5em;
    cursor: pointer;
    line-height: 100%;
    border-right: 1px solid var(--default-border-color);
}

.btn-group button:disabled {
    opacity: 0.8;
    pointer-events: none;
}

.btn-group {
    display: flex;
    border: 1px solid var(--default-border-color);
}

.btn-group.left {
    justify-content: flex-start;
}

.btn-group.right {
    justify-content: flex-end;
}

.btn-group button:focus {
    /* White text */
    outline: none;
    /* Float the buttons side by side */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:last-child {
    border-right: none;
}

.btn-group button:hover {
    opacity: 0.7;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr
}

button {
    align-items: center;
    display: flex;
    padding: var(--default-padding);
    justify-content: center;
    border: none;
}

#mainGrid {
    height: 100%;
    width: 100%;
    padding: var(--default-padding);
}

.filters {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid var(--default-border-color);
}

.action {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--default-border-color);
    padding: .2em;
}

.action-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.hidden {
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
}